<form action={{route}} method="post">
    <input type="text" placeholder="Name" name="name" value={{user.name}}>
    <input type="number" placeholder="Age" name="age" value={{user.age}}>
    <input type="text" placeholder="Mood" name="mood" value={{user.mood}}>
    <input type="passsword" placeholder="Password" name="password" value={{user.passsword}}>
    <button type="submit">Update user</button>
</form>