<h1>Hello {{user.name}}</h1>

<li>{{user.age}}</li>
<li>{{user.mood}}</li>

{{log this}}

<h1>Add a post</h1>

<form action="/posts" method="post">
    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Content" name="content">
    <input type="submit">
</form>


<h1>My posts</h1>

{{#each user.posts}}
<ul>
    <li>{{this.title}}</li>
    <li>{{this.content}}</li>
</ul>
{{/each}}

<h1>Upload file</h1>

<form action="/profile/edit/img" method="POST" enctype="multipart/form-data">
    <input type="file" name="profile" />
    <input type="submit">
</form>
{{#if user.profileImg}}
<img src="/images/profile/{{user.profileImg}}" alt="">

{{/if}}

<form action="/photos/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="originalName">
    <input type="file" name="photo">
    <input type="submit" value="Save">
</form>

{{#each user.photos}}
<h3>{{this.title}}</h3>
<img src="/images/album/{{this.name}}" alt="">
{{/each}}